_site
.DS_Store

/devel/simplebuild/simplebuild_cache/
/devel/simplebuild/autogen/

.ruff_cache/

/ncrystal_metapkg/ncrystal.egg-info/
/ncrystal_metapkg/build/
/ncrystal_metapkg/dist/
/ncrystal_python/ncrystal_python.egg-info/
/ncrystal_python/build/
/ncrystal_python/dist/
/ncrystal_core/skbld_autogen/
/skbld_autogen/
/ncrystal_core/dist/
/dist/
__pycache__/

/venv/

# Emacs
*~
\#*\#
.\#*
