name: c_cpp_standards

on:
  push:
  pull_request:
  schedule:
    - cron: '10 15 * * 0'  # 10:15 every Sunday


jobs:
  ncdevtool_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: src
      - name: Pip install packages for ncdevtool
        run: pip install -r ./src/devel/reqs/requirement_devel.txt
      - name: ncdevtool checks
        run: ./src/devel/bin/ncdevtool check -n fixme

  build:
    needs: [ preparations ]
    strategy:
      matrix:
        strictflag: [11, 14, 17, 20, 23]
        os: [ubuntu-latest, windows-latest, macos-latest]

    name: ${{ matrix.os }}.strict${{ matrix.strictflag }}
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: src

    - name: Install Ninja (Linux)
      if: runner.os == 'Linux'
      run: sudo apt-get install ninja-build


    - name: Install Ninja (macOS)
      if: runner.os == 'macOS'
      run: brew install ninja

    - name: Set CMAKE_GENERATOR (Linux/macOS)
      if: runner.os != 'Windows'
      run: echo "CMAKE_GENERATOR=Ninja Multi-Config" >> $GITHUB_ENV

    - name: Configure CMake
      run: >
        cmake -S ./src -B ./build
        -DNCRYSTAL_ENABLE_EXAMPLES=ON
        -DNCRYSTAL_BUILD_STRICT=${{ matrix.strictflag }}

    - name: Build Release
      run: cmake --build ./build --config Release

    - name: Build Debug
      run: cmake --build ./build --config Debug
