name: freebsd

on:
  push:
  pull_request:
  schedule:
    - cron: '30 18 * * 0'  # 18:30 every Sunday

jobs:
  ncdevtool_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          path: src
      - name: Pip install packages for ncdevtool
        run: pip install -r ./src/devel/reqs/requirements_devel.txt
      - name: ncdevtool checks
        run: ./src/devel/bin/ncdevtool check -n "fix""me"

  ctest:
    needs: [ ncdevtool_check ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          path: src

      - name: Enable parallel cmake
        run: python ./src/devel/bin/ncdevtool nprocs --enable-github-parallel

      - name: FreeBSD
        uses: cross-platform-actions/action@v0.32.0
        with:
          environment_variables: CMAKE_BUILD_PARALLEL_LEVEL CTEST_PARALLEL_LEVEL
          operating_system: freebsd
          version: '14.2'
          run: |
            echo "CMAKE_BUILD_PARALLEL_LEVEL=${CMAKE_BUILD_PARALLEL_LEVEL}"
            echo "CTEST_PARALLEL_LEVEL=${CTEST_PARALLEL_LEVEL}"
            sudo pkg install -y cmake python3 py311-numpy py311-mpmath py311-matplotlib py311-ase py311-gemmi py311-spglib py311-pyyaml ruff py311-pip
            ./src/devel/bin/ncdevtool check -n "fix""me"
            #Install deps not available as FreeBSD package:
            INSTALL_ENDF_PARSERPY_CPP=no
            export INSTALL_ENDF_PARSERPY_CPP
            python3 -mpip install --user "endf-parserpy>=0.14.3"
            cmake -S ./src -B ./build -DCMAKE_BUILD_TYPE=Release -DNCRYSTAL_BUILD_STRICT=ON -DNCRYSTAL_ENABLE_TESTING=ON -DMCTOOLS_REQUIRE_ALL_TEST_DEPS=ON -DNCRYSTAL_TEST_ENABLE_LONG=ON
            cmake --build ./build --config Release --parallel 2
            ctest --test-dir ./build --build-config Release --no-tests=error --output-on-failure --test-output-size-failed 100000 --test-output-truncation middle

  pipinst:
    needs: [ ncdevtool_check ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          path: src

      - name: Enable parallel cmake
        run: python ./src/devel/bin/ncdevtool nprocs --enable-github-parallel

      - name: FreeBSD
        uses: cross-platform-actions/action@v0.32.0
        with:
          environment_variables: CMAKE_BUILD_PARALLEL_LEVEL CTEST_PARALLEL_LEVEL
          operating_system: freebsd
          version: '14.2'
          run: |
            echo "CMAKE_BUILD_PARALLEL_LEVEL=${CMAKE_BUILD_PARALLEL_LEVEL}"
            echo "CTEST_PARALLEL_LEVEL=${CTEST_PARALLEL_LEVEL}"
            sudo pkg install -y cmake python3 py311-pip py311-scikit-build-core py311-numpy py311-mpmath py311-matplotlib py311-ase py311-gemmi py311-spglib py311-pyyaml py311-setuptools ruff
            #Make sure pip --user bin dir is in PATH:
            PATH="/home/runner/.local/bin:${PATH}"
            export PATH
            echo "PATH IS NOW: ${PATH}"
            ./src/devel/bin/ncdevtool check -n "fix""me"
            python3 -mpip install --user ./src/ncrystal_python
            python3 -mpip show ncrystal-python
            ls -l /home/runner/.local/bin
            which nctool
            python3 -mpip check
            python3 -mpip install --user -v ./src/ncrystal_core
            python3 -mpip show ncrystal-core
            python3 -mpip check
            nctool --test
            python3 -mpip install --user ./src/ncrystal_metapkg
            python3 -mpip show ncrystal
            python3 -mpip check
            python3 -mpip install --user ./src/ncrystal_verify
            python3 -mpip show ncrystal-verify
            python3 -mpip check
            #Install deps not available as FreeBSD package:
            INSTALL_ENDF_PARSERPY_CPP=no
            export INSTALL_ENDF_PARSERPY_CPP
            python3 -mpip install --user "endf-parserpy>=0.14.3"
            ncrystal-verify --long
            #--allow-missing endf-parserpy
