name: geant4
on:
  push:
  pull_request:
  schedule:
    - cron: '30 18 * * 0'  # 18:30 every Sunday

jobs:
  ncdevtool_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: src
      - name: Pip install packages for ncdevtool
        run: pip install -r ./src/devel/reqs/requirements_devel.txt
      - name: ncdevtool checks
        run: ./src/devel/bin/ncdevtool check -n "fix""me"

  build:
    needs: [ ncdevtool_check ]
    strategy:
      #fail-fast: false
      matrix:
        include:
          #NB: Due to cache size limitations we should have at most 3 or 4
          #platforms here!!
          #NB: No Geant4 conda pkgs on windows
          #NB: No linux-aarch64 geant4 pkg: - { os: ubuntu-24.04-arm, g4spec: 'geant4' }
          - { os: ubuntu-latest, g4spec: 'geant4' }
          - { os: macos-latest, g4spec:  'geant4==11.1.3' }
    name: ${{ matrix.os }}--${{ matrix.g4spec }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    env:
      CONDA_SOLVER: libmamba

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: ./src

      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: mctools/ncrystal-geant4
          path: ./src_ncg4

      - name: Setup Miniforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          activate-environment: anaconda-client-env

      - name: Get Date
        id: get-date
        run: echo "today=$(/bin/date -u '+%Y%m%d')" >> $GITHUB_OUTPUT
        shell: bash

      - name: Cache Conda env
        id: cache
        uses: actions/cache@v5
        with:
          path: ${{ env.CONDA }}/envs
          key:
            conda-${{ runner.os }}--${{ runner.arch }}--${{
            steps.get-date.outputs.today }}-${{ matrix.g4spec }}-${{
            hashFiles('./src/.github/resources/condancg4.yml') }}

      - name: Update environment
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          mamba env update -n anaconda-client-env -f ./src/.github/resources/condancg4.yml
          mamba install -n anaconda-client-env "${{ matrix.g4spec }}"

      - name: Inspect environment
        run: |
          conda info
          conda list
          set -x
          cmake --version
          pip list

      - name: Install ncrystal-core
        run: pip install ./src/ncrystal_core

      - name: Install ncrystal-geant4
        run: pip install ncrystal-geant4

      - name: Cfg example
        run: cmake -S ./src_ncg4/example -B ./bldexample -DCMAKE_INSTALL_PREFIX=./instexample

      - name: Build example
        run: cmake --build ./bldexample

      - name: Install example
        run: cmake --install ./bldexample

      - name: Run example
        run:
          LD_LIBRARY_PATH=$(ncrystal-config --show shlibdir)
          DYLD_LIBRARY_PATH=$(ncrystal-config --show shlibdir)
          ./instexample/bin/myapp
