name: pyplugin

on:
  push:
  pull_request:
  schedule:
    - cron: '13 15 * * 0'  # 13:15 every Sunday

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        path: src

    - name: Check python version
      run: python --version

    - name: Enable parallel cmake
      run: python ./src/devel/bin/ncdevtool nprocs --enable-github-parallel

    - name: Install ncrystal_core
      run: pip install ./src/ncrystal_core

    - name: Install ncrystal_pypluginmgr
      run: pip install ./src/ncrystal_pypluginmgr

    - name: Install plugin
      #--no-build-isolation to prevent getting the ncrystal pkgs just installed
      #to instead be taken from PyPI:
      run: |
        pip install scikit-build-core>=0.10
        pip install ./src/examples/plugin --no-deps --no-build-isolation

    - name: Install plugin_dataonly
      #--no-build-isolation to prevent getting the ncrystal pkgs just installed
      #to instead be taken from PyPI.
      run: |
        pip install setuptools>=64.0
        pip install ./src/examples/plugin_dataonly --no-deps --no-build-isolation

    - name: Run ncrystal-pluginmanager
      run: ncrystal-pluginmanager

    - name: Install ncrystal_python
      run: pip install ./src/ncrystal_python

    - name: Verify plugin loading
      run: ncrystal-pluginmanager --test DummyPlugin

    - name: Verify plugin_dataonly loading
      run: ncrystal-pluginmanager --test DummyDataPlugin

    - name: Browse data files
      run: nctool -b

    - name: Verify plugin data files
      run: nctool -d plugins::DummyPlugin/somefile.ncmat

    - name: Verify plugin_dataonly data files
      run: nctool -d plugins::DummyDataPlugin/dummy.ncmat
